[submodule "ConciseKit"]
	path = ConciseKit
	url = https://github.com/ericmeyer/ConciseKit.git
[submodule "cslim"]
	path = cslim
	url = https://github.com/dougbradbury/cslim.git
[submodule "OCDSpec2"]
	path = OCDSpec2
	url = https://github.com/ericmeyer/OCDSpec2.git
