[submodule "ConciseKit"]
	path = ConciseKit
	url = https://github.com/ericmeyer/ConciseKit.git
[submodule "cslim"]
	path = cslim
	url = https://github.com/dougbradbury/cslim.git
[submodule "SpecKit"]
	path = SpecKit
	url = https://github.com/sdegutis/SpecKit.git
